
@{
    ViewBag.Title = "Payment";
}

<section class="payment row">
    <div class="col-lg-10 col-centered">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h2 class="text-center main-header">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="~/Content/Images/Check_03.png" class="img" />
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <div class="number text-center">
                    011300142
                </div>
                <p class="account-desc">Bank Routing Number</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <div class="number second text-center">
                    12345678
                </div>
                <p class="account-desc p-left">Bank Account Number</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <h2 class="text-center">Advertising</h2>
            <p>The products we place your advertising on are not merely long-lasting, but also used and seen, every day by many potential clients. This is, by its very definition, what good advertising is.</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <h2 class="text-center">Employment</h2>
            <p>There is no limit to the amount of money a person can earn. Eligible for vacation, and Holiday pay. Commission and daily cash bonuses can be earned. Fill out an Application</p>
        </div>
    </div>
</section>

<section class="row card-info">
    <div class="col-lg-10 col-centered">
        <div class="col-xs-12 col-sm-11 col-md-10 col-md-centered col-lg-6 card-sec">
            <ul>
                <li><img src="~/Content/Images/visa_07.png" /></li>
                <li><img src="~/Content/Images/mastercard_07.png" /></li>
                <li><img src="~/Content/Images/Discover_07.png" /></li>
                <li><img src="~/Content/Images/amax_07.png" /></li>
            </ul>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-default">Credit Card</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-default">Check</button>
            </div>
        </div>
        <div class="col-xs-10 col-xs-centered col-sm-6 col-md-5 col-md-push-1 col-lg-3 offset-md-top">
            <h2>
                Pay Online Fast. Easy. Secure.
            </h2>
            <p>We are an established company, having been in business for almost 40 years. This experience translates to a highly effective advertising, seen by a wide variety of potential clients.</p>
        </div>
        <div class="col-xs-10 col-xs-centered col-sm-6 col-md-5 col-md-push-1 col-lg-3"><img src="~/Content/Images/faded_logo_07.png" class="img" /></div>
        <img src="~/Content/Images/blur_03.png" class="bottom-blur" />
    </div>
</section>


