@{
    ViewBag.Title = "Pricing";
}

@Html.Partial("_TopVideoSection")

<section class="container-fluid striped m-top-100"></section>

<section class="row pricing-section">
    <div class="col-lg-11 col-centered">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="brown">
                <h3 class="text-center">
                    1 UNIT<br />
                    <span>2.5<small>in x</small> 2.75<small>in</small></span>
                </h3>
            </div>
            <div class="white-bg">
                <img src="~/Content/Images/brown-bag-01_03.png" class="img" />
                <div class="bottom-fade">
                    <h4 class="text-center">&dollar;469.50</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="green">
                <h3 class="text-center">
                    2 UNIT<br />
                    <span>5<small>in x</small> 2.75<small>in</small></span>
                </h3>
            </div>
            <div class="white-bg">
                <img src="~/Content/Images/brown-bag-02_05.png" class="img green-img" />
                <div class="bottom-fade">
                    <h4 class="text-center">&dollar;669.50</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="maroon">
                <h3 class="text-center">
                    4 UNIT<br />
                    <span>5<small>in x</small> 2.75<small>in</small></span>
                </h3>
            </div>
            <div class="white-bg">
                <img src="~/Content/Images/brown-bag-03_05.png" class="img maroon-img" />
                <div class="bottom-fade">
                    <h4 class="text-center">&dollar;869.50</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="light-blue">
                <h3 class="text-center">
                    6 UNIT <br />
                    <span>5<small>in x</small> 8<small>in</small></span>
                </h3>
            </div>
            <div class="white-bg">
                <img src="~/Content/Images/brown-bag-05_07.png" class="img light-blue-img" />
                <div class="bottom-fade">
                    <h4 class="text-center">&dollar;1169.50</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <img src="~/Content/Images/faded_logo_07.png" class="img logo-img" />
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="orange">
                <h3 class="text-center">
                    PLATINUM AD <br />
                    <span>5<small>in x</small>2.75<small>in</small></span>
                </h3>
            </div>
            <div class="white-bg">
                <img src="~/Content/Images/brown-bag-04_07.png" class="img orange-img" />
                <div class="bottom-fade">
                    <h4 class="text-center">&dollar;869.50</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid striped m-top-100">
    <img src="~/Content/Images/blur_03.png" class="bottom-blur" />
</section>


