@{
    ViewBag.Title = "Pricing";
}

@Html.Partial("_TopVideoSection")

<section class="container-fluid striped m-top-100"></section>

<section class="row pricing-section">
    <div class="col-lg-11 col-centered">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="brown">
                <h3 class="text-center">1 UNIT</h3>
            </div>
            <img src="~/Content/Images/brown-bag-01_03.png" class="img" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="~/Content/Images/brown-bag-02_05.png" class="img" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="~/Content/Images/brown-bag-03_05.png" class="img"/>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="~/Content/Images/brown-bag-04_07.png" class="img" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="~/Content/Images/faded_logo_07.png" class="img" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="~/Content/Images/brown-bag-05_07.png" class="img" />
        </div>
    </div>
</section>

