.contact {

    h2 {
        color: #fff;
    }

    .contact-form {
        margin-top: 100px;

        .form-horizontal {
            color: #fff;

            input {
                width: 100%;
            }
        }
    }
}
