.contact {

    h2 {
        color: #fff;
        font-weight: 900;
    }

    .contact-form {
        margin-top: 100px;

        .form-horizontal {
            color: #fff;

            label {
                padding-top: 0;
            }

            input {
                width: 100%;
            }

            textarea {

                &.form-control {
                    height: 130px;
                }
            }
        }

        .field-validation-error,
        #error-message {
            color: #f00;
            font-style: italic;
        }
    }

    .bottom-blur {
        position: relative;
        right: -50%;
        transform: translate(-50%, 425%);
        width: 370px;
        height: 15px;

        @media (max-width: 480px) {
            transform: translate(-50%, 278%);
        }
    }
}
.modal-content {
    padding: 15px;
    z-index: -1;

    .button.close {
        z-index: 5;
    }

    .modal-body {
        z-index: -5;
    }
}

