@import 'Typography.scss';

.grocery-corner {
    background-image: url('Images/backgrounds/grocery_corner_06_06.png');
    background-size: cover;
    height: 350px;
    width: 100%;

    .lady-img {
        position: absolute;
        top: -210px;
        width: 386px;
        right: 205px;

        @media (max-width: 767px) {
            right: 35px;
        }

        @media (max-width: 480px) {
            position: relative;
            right: 50%;
            bottom: -50%;
            transform: translate(50%, 40.5%);
            width: 100%;
        }

        @media (min-width: 376px) and (max-width: 450px) {
            transform: translate(50%, 23.5%);
        }

        @media (max-width: 360px) {
            transform: translate(50%, 47.5%);
        }

        img {
            @media (max-width: 480px) {
                width: 65%;
                left: -50%;
                bottom: -50%;
                transform: translate(50%, 7%);
            }
        }
    }

    .on-the-go-img {
        position: absolute;
        top: 110px;
        width: 64%;
        left: -121px;
        z-index: 5;

        @media (max-width: 900px) {
            left: -83px;
        }

        @media (max-width: 480px) {
            top: 280px;
            left: 50%;
            bottom: 0;
            transform: translate(-87%, 50%);
        }
    }
}

.totes {
    position: relative;

    .totes-p-sec {
        background-color: #2b495b;
        margin-left: 10px;
        height: 350px;

        @media (max-width: 767px) {
            margin: auto;
        }

        div {
            transform: translate(0, -70%);
            top: 50%;
            position: relative;
            margin: auto;
        }
    }

    .totes-img-sec {
        background-color: #2b495b;
        margin-right: 10px;
        height: 350px;

        @media (max-width: 767px) {
            height: auto;
            margin: auto;
            padding: 15px;
        }

        img {
            transform: translate(0, -50%);
            top: 50%;
            position: relative;

            @media (max-width: 767px) {
                transform: translate(0,0);
                top: auto;
            }
        }
    }

    p {
        font-size: 16px;
    }

    h3 {
        font-size: 28px;
    }

    .top-blur {
        position: relative;
        width: 370px;
        height: 15px;
        top: -50%;
        transform: translate(-50%, -690%);
        right: -50%;

        @media (max-width: 480px) {
            transform: translate(-50%, -360%);
        }
    }

    .bottom-blur {
        position: relative;
        right: -50%;
        transform: translate(-50%, 670%);
        width: 370px;
        height: 15px;

        @media (max-width: 480px) {
            transform: translate(-50%, 335%);
        }
    }
}

.text-vid-sec {
    background-image: url('Images/backgrounds/striped_bg_07.png');
    padding: 100px 0;

    @media (max-width: 480px) {
        padding: 0;
    }

    .totes-p-sec {
        height: 350px;
        background-color: #fff;
        margin-right: 10px;

        @media (max-width: 767px) {
            margin: auto;
        }

        h3 {
            font-size: 28px;
            color: #203644;

            span {
                font-weight: 100;
                font-size: 22px;
                font-family: $futura-bt-book-italic;
            }
        }

        p {
            text-align: center;
            font-size: 16px;
        }

        div {
            transform: translate(0, -70%);
            top: 50%;
            position: relative;
        }
    }

    .totes-video-sec {
        height: 350px;
        margin-left: 10px;

        @media (max-width: 767px) {
            height: auto;
            margin: auto;
        }

        iframe {
            height: 350px;

            @media (max-width: 480px) {
                height: 100%;
            }
        }
    }

    .bottom-blur {
        position: relative;
        right: -50%;
        transform: translate(-50%, 775%);
        width: 370px;
        height: 15px;

        @media (max-width: 480px) {
            transform: translate(-50%, 108%);
        }
    }
}

.icons {

    .icon-blue-bg {
        background-color: #2b495b;
    }

    p {
        &.text-center {
            @media (min-width: 1400px) {
                padding: 0 18%;
            }

            @media (max-width: 767px) and (min-width: 480px) {
                padding: 0 15%;
            }
        }
    }

    img {
        padding-top: 15px;
    }
}

footer {
    height: 100px;
}
