@import 'Typography.scss';

.pricing-section {

    .brown {
        background-color: #542d02;
        height: 70px;

        @media (max-width: 767px) {
            margin-top: 70px;
        }
    }

    .green {
        background-color: #0c5601;
        height: 70px;

        @media (max-width: 767px) {
            margin-top: 70px;
        }
    }

    .maroon {
        background-color: #600404;
        height: 70px;

        @media (max-width: 767px) {
            margin-top: 70px;
        }
    }

    .light-blue {
        background-color: #4a7d99;
        height: 70px;
        margin-top: 50px;

        @media (max-width: 767px) {
            margin-top: 70px;
        }
    }

    .orange {
        background-color: #ef7700;
        height: 70px;
        margin-top: 50px;

        @media (max-width: 767px) {
            margin-top: 70px;
        }
    }

    h3 {
        font-size: 40px;
        color: #fff;
        line-height: 0.6;
        padding-top: 10px;
        font-family: $futura-bt-book-bold;

        @media (max-width: 768px) {
            font-size: 4vw;
        }

        @media (max-width: 480px) {
            font-size: 35px;
        }

        span {
            font-size: 14px;
            font-weight: 100;

            small {
                color: #fff;
            }
        }
    }

    .logo-img {
        transform: translate(0, 40%);

        @media (max-width: 480px) {
            transform: translate(0, 10%);
            margin-top: 35px;
        }
    }

    .white-bg {
        background-color: #fff;

        @media (max-width: 1024px) {
            height: 234px;
        }

        @media (max-width: 900px) {
            height: 189px;
        }

        @media (max-width: 768px) {
            height: 128px;
        }

        @media (max-width: 767px) {
            height: 267px;
        }

        @media (max-width: 480px) {
            height: 100%;
        }

        img {
            padding: 0px 60px 0 60px;
            margin-top: -35px;
            transform: translate(0, 11%);

            @media (max-width: 1024px) {
                transform: translate(0, 16%);
                padding: 15px 60px 0 60px;
            }

            @media (max-width: 480px) {
                transform: translate(0, 14%);
            }

            &.green-img {
                transform: translate(0, 14%);

                @media (max-width: 1024px) {
                    transform: translate(0, 17%);
                }
            }

            &.orange-img {
                transform: translate(0, 14%);

                @media (max-width: 1024px) {
                    transform: translate(0, 17%);
                }
            }

            &.maroon-img {
                transform: translate(0, 14%);

                @media (max-width: 1024px) {
                    transform: translate(0, 17%);
                }
            }

            &.light-blue-img {
                transform: translate(0, 14%);

                @media (max-width: 1024px) {
                    transform: translate(0, 17%);
                }
            }
        }

        .bottom-fade {
            background-image: url('Images/backgrounds/bottom-shadow_03.png');
            background-size: cover;
            height: 50px;
            width: 100%;

            @media (max-width: 1024px) {
                margin-left: -2px;
                width: 102%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
            }

            @media (max-width: 767px) {
                transform: translate(0, 13%);
            }

            @media (max-width: 480px) {
                height: 45px;
                transform: translate(0, 22%);
                background-size: cover;
            }

            h4 {
                font-size: 40px;
                font-family: $futura-bt-book-bold;
                color: #fff;
                letter-spacing: 2px;
                transform: translate(0, 38%);
            }
        }
    }

    .col-xs-6 {
        @media (max-width: 480px) {
            width: 100%;
        }
    }
}

.striped {
    
    .bottom-blur {
        position: relative;
        right: -50%;
        transform: translate(-50%, 640%);
        width: 370px;
        height: 15px;

        @media (max-width: 480px) {
            transform: translate(-50%, 645%);
        }
    }   
}
