
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('fonts/futuran-webfont.woff2') format('woff2'), 
         url('fonts/futuran-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bk_btbook_italic';
    src: url('fonts/futurani-webfont.woff2') format('woff2'), 
         url('fonts/futurani-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_xblk_btextra_black';
    src: url('fonts/futuraxk-webfont.woff2') format('woff2'), 
         url('fonts/futuraxk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_xblkit_btXBlkIt';
    src: url('/fonts/futurxki-webfont.woff2') format('woff2'), 
         url('/fonts/futurxki-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$futura-bt-bold: 'futura_xblk_btextra_black';
$futura-bt-bold-italic: 'futura_xblkit_btXBlkIt';
$futura-bt-book-italic: 'futura_bk_btbook_italic';
$futura-bt-book-bold: 'futura_bk_btbook';

h2, h3 {
    font-family: $futura-bt-bold;
}

p {
    font-family: $futura-bt-book-bold;
}

li {
    a {
        font-family: $futura-bt-book-bold;
    }
}

label {
    font-family: $futura-bt-book-italic;
    font-weight: 100;
}

.contact {
    p {
        font-family: $futura-bt-book-italic;
    }

    .btn {
        font-family: $futura-bt-book-italic;
    }
}

.card-info {

    .btn-default {
        font-family: $futura-bt-book-bold;
    }
}
