<section class="blog">
    <div class="col-lg-10 col-centered">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <video controls>
                <source src="~/Content/Video/Totes_Blog_Video.mp4" type="audio/mp4" />
            </video>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="font-white text-center">Totes2Go recently teamed up with the guys of Fill My Basket to provide the shoppers of Oklahoma with some awesome tote bags!
                Fill My Basket is a non-profit organization that started out in Oklahoma City and has since gained massive momentum world wide.
                Their goal is to pay it forward; helping complete strangers with their grocery bill.
                Showing communities that you don’t have to be rich to help people around you.
                They raise money to give back to the community!
                Always remembering that small acts of kindness go a long way!
                Learn more about them here!
                And feel free to donate!
            </p>
        </div>
    </div>
</section>
