

<section class="contruction m-top-100">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <h1 class="text-center font-white">Sorry for the Inconvenience, this page is currently under construction!</h1>
            <div class="col-lg-8 col-centered">
                <img src="~/Content/Images/construction.jpg" class="img-responsive" />
            </div>
        </div>
    </div> 
</section>