<section class="container video-section">
    <div class="row">
        <div class="col-lg-10 col-centered blue-fade">
            <div class="col-lg-9 col-centered">
                <iframe width="100%" src="https://www.youtube.com/embed/17NtCGsPXG8" frameborder="0"; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
